/* COLOR AND SHAPE VARIABLES */
/* SIZING AND POSITION VARIABLES */
/* FONT VARIABLES */
div.premiumSelect {
  /* This is the container of the new select element */
  height: 34px;
  display: inline-block;
  min-width: 200px;
  position: relative;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
div.premiumSelect .selectBox {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  /* Font settings */

  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 34px;
  color: #666666;
  text-align: center;
  text-shadow: 1px 1px 0 #EEEEEE;
  /* Using CSS3 multiple backgrounds and a fallback */

  border: 1px solid #cccccc;
  background: #fafafa;
  cursor: pointer;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
div.premiumSelect .selectBox:hover,
div.premiumSelect .selectBox.expanded {
  color: #2c5667;
  text-shadow: 1px 1px 0 #9bc2d0;
}
div.premiumSelect .dropDown {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  border: 1px solid #cccccc;
  list-style: none;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 4px 4px 0 #cccccc;
  -webkit-box-shadow: 0 4px 4px 0 #cccccc;
  box-shadow: 0 4px 4px 0 #cccccc;
  z-index: 10000;
}
div.premiumSelect li {
  height: 45px;
  cursor: pointer;
  position: relative;
  list-style: none;
  background: #fafafa;
  border-bottom: 1px solid #cccccc;
  padding: 0 5px;
}
div.premiumSelect li.first {
  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}
div.premiumSelect li.last {
  border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}
div.premiumSelect li:hover {
  background: #f0f0f0;
}
div.premiumSelect li.active {
  background: #2c5667;
}
div.premiumSelect li.active span.line-1 {
  color: #FEFEFE;
}
div.premiumSelect li.active span.line-2 {
  color: #F0F0F0;
}
div.premiumSelect li img {
  display: block;
  height: 80%;
  overflow: hidden;
  margin: 1% 10px 1% 1%;
  position: absolute;
}
div.premiumSelect li span {
  display: block;
  clear: both;
  /* 
            Additional line formatting can be added here, or in a separate
            theme definition.
            */

}
div.premiumSelect li span.line-1 {
  padding-top: 5px;
  font-weight: bold;
  color: #000;
}
div.premiumSelect li span.line-2 {
  font-weight: normal;
  color: #999;
  font-size: 70%;
}
div.premiumSelect li span.has-icon {
  margin-left: 60px;
}
/* Import Themes */
/* Olive Theme */
div.premiumSelect.olive {
  height: 25px;
  min-width: 200px;
  width: 130px;
}
div.premiumSelect.olive .selectBox {
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  line-height: 25px;
  text-align: left;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666666;
  background-image: url(../img/olive-select-arrows.png);
  background-position: top right;
  background-repeat: no-repeat;
}
div.premiumSelect.olive .dropDown {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #f5f5f5;
  width: 110%;
}
div.premiumSelect.olive li {
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666666;
  padding: 0 5px;
}
div.premiumSelect.olive li.first {
  border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}
div.premiumSelect.olive li.last {
  border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
}
div.premiumSelect.olive li:hover {
  background: #dedede;
}
div.premiumSelect.olive li.active {
  background: #d3dcc1;
}
div.premiumSelect.olive li span.line-1 {
  padding-top: 5px;
  font-weight: bold;
  color: #000;
}
div.premiumSelect.olive li span.line-2 {
  font-weight: normal;
  color: #999;
  font-size: 80%;
}
/* Olive Theme */
div.premiumSelect.orange-click {
  height: 18px;
  min-width: 120px;
  width: auto;
}
div.premiumSelect.orange-click .selectBox {
  display: inline-block;
  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: auto;
  line-height: 18px;
  text-align: left;
  padding-left: 0;
  padding-right: 18px;
  padding-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: Bold;
  font-style: italic;
  color: #e84f30;
  background-color: transparent;
  background-image: url(../img/orange-click-select-arrows.png);
  background-position: right 6px;
  background-repeat: no-repeat;
  text-decoration: underline;
}
div.premiumSelect.orange-click .selectBox:hover,
div.premiumSelect.orange-click .selectBox.expanded {
  color: #e84f30;
  text-shadow: none;
  text-decoration: none;
}
div.premiumSelect.orange-click .dropDown {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: transparent;
  width: 110%;
  top: 22px;
}
div.premiumSelect.orange-click li {
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #e84f30;
  padding: 0 5px;
}
div.premiumSelect.orange-click li.first {
  border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}
div.premiumSelect.orange-click li.last {
  border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
}
div.premiumSelect.orange-click li:hover {
  background: #d3dcc1;
  color: #4d4d4d;
}
div.premiumSelect.orange-click li.active {
  background: #d3dcc1;
  color: #4d4d4d;
}
div.premiumSelect.orange-click li.active span.line-1 {
  color: #4d4d4d;
}
div.premiumSelect.orange-click li.active span.line-2 {
  color: #4d4d4d;
}
div.premiumSelect.orange-click li span.line-1 {
  padding-top: 5px;
  font-weight: bold;
  color: #000;
}
div.premiumSelect.orange-click li span.line-2 {
  font-weight: normal;
  color: #999;
  font-size: 80%;
}
